<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH4Y4Ga3FESqZJUZsNxApIPCbQlvG8nQU</string>
	<key>GCM_SENDER_ID</key>
	<string>922285547361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyp</string>
	<key>PROJECT_ID</key>
	<string>fyp-along-shomemadecookies</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-along-shomemadecookies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922285547361:ios:0f17829ee91e9ff7886f20</string>
</dict>
</plist>